.input {
  padding: 0 20px;
  width: 100%;
  background-color: #516275;
  color: #ffffff;
  font-size: 20px;
  border: none;
  height: 54px;
  border-radius: 12px;

  &:focus {
    outline: none;
    background-color: #435161;
    &::placeholder {
      color: #435161;
    }
  }

  &::placeholder {
    color: #ffffff;
  }
}