.button {
  padding: 16px 20px;
  background-color: #516275;
  color: #ffffff;
  font-size: 20px;
  border: none;
  border-radius: 16px;
  text-transform: uppercase;
  cursor: pointer;

  &:disabled {
    background-color: #d4d4d4;
    color: #4a5568;
    cursor: initial;

    &:hover {
      background-color: #d4d4d4;
    }
  }

  &:hover {
    background-color: #435161;
  }
}