@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  background-color: #eeedf2;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin: 20px 0 10px 0;
  color: #2c3a4d;
  text-transform: uppercase;
  font-weight: 400;
}