.form {
  margin-top: 40px;
  padding: 160px 40px 40px 40px;
  width: 450px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: -7px 17px 20px rgba(#000000, 0.3);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: linear-gradient(201deg, rgba(164, 165, 171, 1) 0%, rgba(255, 255, 255, 1) 51%, rgba(164, 165, 171, 1) 100%);;
    position: absolute;
    top: -30px;
    left: calc(50% - 75px);

    &--inner {
      width: 120px;
      height: 120px;
      border-radius: 50%;
      background: radial-gradient(circle at 89% 18%, rgba(255, 255, 255, 1) 12%, rgba(164, 165, 171, 1) 63%);
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__body {
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__row {
    width: 100%;
    position: relative;
  }

  &__input {
    padding: 0 20px;
    width: 100%;
    background-color: #516275;
    color: #ffffff;
    font-size: 20px;
    border: none;
    height: 54px;
    border-radius: 12px;

    &:focus {
      outline: none;
      background-color: #435161;
      &::placeholder {
        color: #435161;
      }
    }

    &::placeholder {
      color: #ffffff;
    }
  }
}

.icon-user {
  font-size: 60px;
  color: #344559;
}

.button {
  padding: 16px 20px;
  background-color: #516275;
  color: #ffffff;
  font-size: 20px;
  border: none;
  border-radius: 16px;
  text-transform: uppercase;
  cursor: pointer;

  &:hover {
    background-color: #435161;
  }
}

.error {
  margin: 0 0 4px 0;
  padding-left: 20px;
  font-size: 14px;
  color: #ee0000;
}

.icon-eye {
  padding: 10px;
  font-size: 42px;
  color: #ffffff;
  position: absolute;
  top: 6px;
  right: 0;
  cursor: pointer;
}